<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">s
                <li><a href="/" class="nav-link px-2 text-white">Mene App</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark" placeholder="Buscar un meme..." name="query"
                       aria-label="Search">
            </form>

            <a href="/" type="button" class="btn btn-primary">Limpiar filtro</a>
        </div>
    </div>
</header>