{% extends 'partials/_main.html' %}
{% block content %}
    {% include 'partials/_navbar.html' %}

    <div class="container d-flex flex-row justify-content-evenly my-4">
        {% include 'partials/_info.html' %}
        <div class="d-flex flex-column justify-content-center">
            {% include 'partials/_form_errors.html' %}
            {% include 'partials/_form.html' %}
        </div>
    </div>


    <div class="mx-5">
        <hr class="border border-primary border-2 opacity-50">
        {% if memes %}
            {% include 'partials/_meme_list.html' %}
        {% elif errors %}
            <div class="alert alert-primary" role="alert">
                Error en el formulario.
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
                No hay datos.
            </div>
        {% endif %}
    </div>


{% endblock %}